<mat-drawer-container style="height: 100%;">
  <mat-drawer mode="side" opened class="padding">
    <div class="center-column no-align wide" data-aos="fade-right">
      <a routerLink="./" mat-raised-button color="primary">
        <mat-icon>dashboard</mat-icon>
        Overview
      </a>
      <a routerLink="./my-profile" mat-raised-button color="primary">
        <mat-icon>person</mat-icon>
        My Profile
      </a>
      <a routerLink="./academic-record" mat-raised-button color="primary" *ngIf="userData.roleId === roles.STUDENT">
        <mat-icon>notes</mat-icon>
        Academic Record
      </a>
      <a routerLink="./classroom-editor" mat-raised-button color="primary" *ngIf="userData.roleId === roles.TEACHER">
        <mat-icon>edit</mat-icon>
        Classroom Editor
      </a>
      <a routerLink="./user-management" mat-raised-button color="primary" *ngIf="userData.roleId === roles.ADMIN">
        <mat-icon>edit</mat-icon>
        User Management
      </a>
      <a routerLink="./document-request" mat-raised-button color="primary" *ngIf="userData.roleId === roles.STUDENT">
        <mat-icon>insert_drive_file</mat-icon>
        Document Request
      </a>
      <a routerLink="./document-approval" mat-raised-button color="primary" *ngIf="userData.roleId === roles.SECRETARY">
        <mat-icon>insert_drive_file</mat-icon>
        Document Approval
      </a>
      <a routerLink="./latest-news" mat-raised-button color="primary">
        <mat-icon>event_available</mat-icon>
        Latest News
      </a>
      <a routerLink="./forum" mat-raised-button color="primary">
        <mat-icon>forum</mat-icon>
        Forum
      </a>
      <button mat-raised-button color="warn" (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content style="background-color: whitesmoke;">
    <div class="padding">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>